#big2 {
    color: rgba(55,140,250,0.76);
    font-family: 'Londrina Outline', cursive;
    font-size: 120px;
    margin-left: 3%;
    float: left;
}

#bigGather {

    color: rgba(21, 182, 43, 0.76);
    font-family: 'Londrina Outline', cursive;
    font-size: 120px;
    float: left;
}

#splashBranch1 {
    height: 435px;
    width: 105%;
}

#splashBranchText {
    font-family: 'Indie Flower', cursive;
    font-size: 210%;
    float: right;
    margin: 6%;
}

/*#splashGallery {*/
    /*height: 430px;*/
    /*width: 80%;*/
    /*border: solid black 4px;*/
    /*margin: auto;*/
    /*margin-top: 9%;*/
/*}*/

#splashWelcome {
    height: 400px;
    width: 40%;
    float: left;
    margin-left: 7.5%;
    margin-top: 5%
}

.splashText {
    font-family: 'Bubbler One', sans-serif;
    text-align: center;
    font-size: 250%;
    float: left;
}

#splashFeatures {
    height: 200px;
    width: 40%;
    float: left;
    margin-left: 10%;
}

ul.leaf {
    list-style-image: url('http://i.imgur.com/QadaLZO.png');
}

.featuresList {
    margin: 2%;
}

#small2 {
    color: rgba(55,140,250,0.76);

}

#smallGather {
    color: rgba(21, 182, 43, 0.76);

}